@import "bootstrap";

$height: 50px;

button {
    &.remove-button,
    &.add-button {
        padding: 0.5rem;
        height: $height;
        color: white;
    }

    &.remove-button {
        background-color: red;
    }

    &.add-button {
        background-color: green;
    }
}

input {
    height: $height;
    font-size: 1.15rem;
}
